<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Titre</th>
        <th scope="col">Contenu</th>
        <th scope="col">Auteur</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Date de création</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
        </tr>
  </thead>
  <tbody>
  {% for article in articles %}
    <tr>
      <th scope="row">{{article.id}}</th>
      <td>{{article.title}}</td>
      <td>{{article.content}}</td>
      <td>{{article.user.email}}</td>
      {% if article.categorie is not empty %}
        <td>{{article.categorie[0]}}</td>
      {% else %}
        <td>Non renseigné</td>
      {% endif %}
      <td>{{article.createdAt|date('d/m/Y')}}</td>
      <td class="text-center"><a href="{{path('app_article_edit', {'id':article.id})}}"><i class="fa-solid fa-pencil text-warning"></i></a></td>
      <td class="text-center"><a href="{{path('app_article_delete', {'id':article.id})}}"><i class="fa-solid fa-trash text-danger"></i></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>